{{ define "admin/goodsEdit.html" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin/basic.css">
    <link rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap.min.css">
    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript" src="/static/js/admin/jquery-1.10.1.js"></script>
    <!-- Include Editor JS files. -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/diyUpload/css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/static/diyUpload/css/diyUpload.css">
    <script type="text/javascript" src="/static/diyUpload/js/webuploader.html5only.min.js"></script>
    <script type="text/javascript" src="/static/diyUpload/js/diyUpload.js"></script>

    <script type="module">
        import { main } from "/static/js/admin/main.js";
        main();
    </script>

    <title>Goods</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    增加商品
                </div>
                <div class="card-body">
                    <div class="table-responsive goods-content input-form">
                        <form action="/admin/goods/doEdit" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" class="input" value="{{.goods.Id}}">
                            <input type="hidden" name="prevPage" class="input" value="{{.prevPage}}">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#general"
                                        type="button" role="tab" aria-controls="general"
                                        aria-selected="true">通用信息</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#detail" type="button"
                                        role="tab" aria-controls="detail" aria-selected="false">详细描述</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#mix" type="button"
                                        role="tab" aria-controls="mix" aria-selected="false">商品属性</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#attribute"
                                        type="button" role="tab" aria-controls="attribute"
                                        aria-selected="false">规格与包装</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#photo" type="button"
                                        role="tab" aria-controls="photo" aria-selected="false">商品相册</button>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="general">

                                    <ul class="form_input">
                                        <li> <span> 商品标题:</span> <input type="text" name="title" class="input"
                                                value="{{.goods.Title}}" /></li>
                                        <li> <span> 附属标题:</span> <input type="text" name="sub_title" class="input"
                                                value="{{.goods.SubTitle}}" />
                                        </li>
                                        <li> <span>商品版本:</span> <input type="text" name="goods_version" class="input"
                                                value="{{.goods.GoodsVersion}}" />
                                        </li>
                                        <li> <span>所属分类:</span>

                                            <select name="cate-id" id="cid">
                                                {{$cateId := .goods.CateId}}
                                                {{range $key, $value := .goodsCateList}}
                                                <option {{if eq $cateId $value.Id}} selected {{end}}
                                                    value="{{$value.Id}}">{{$value.Title}}</option>
                                                {{range $k, $v := $value.GoodsCateItems}}
                                                <option {{if eq $cateId $v.Id}} selected {{end}} value="{{$v.Id}}">
                                                    ----{{$v.Title}}</option>
                                                {{end}}
                                                {{end}}
                                            </select>
                                        </li>
                                        <li> <span> 商品图片:</span> <input type="file" name="goods_img" />
                                            {{if ne .goods.GoodsImg ""}}
                                            <img src="/{{.goods.GoodsImg}}" width="80" />
                                            {{end}}
                                        </li>
                                        <li> <span>商品价格:</span> <input type="text" name="price"
                                                value="{{.goods.Price}}" /></li>
                                        <li> <span>商品原价:</span> <input type="text" name="market_price"
                                                value="{{.goods.MarketPrice}}" /></li>
                                        <li> <span>商品库存:</span> <input type="text" name="goods_number"
                                                value="{{.goods.GoodsNumber}}" /></li>
                                        <li> <span>商品排序:</span> <input type="text" name="sort"
                                                value="{{.goods.Sort}}" /></li>

                                        <li> <span>商品状态:</span>
                                            <input type="radio" value="1" {{if eq .goods.Status 1}}checked{{end}}
                                                name="status" checked /> 显示
                                            <input type="radio" value="0" {{if eq .goods.Status 0}}checked{{end}}
                                                name="status" /> 隐藏
                                        </li>

                                        <li> <span>加入推荐:</span>
                                            <input type="checkbox" value="1" name="is_best" {{if eq .goods.IsBest
                                                1}}checked{{end}} /> 精品
                                            <input type="checkbox" value="1" name="is_hot" {{if eq .goods.IsHot
                                                1}}checked{{end}} /> 热销
                                            <input type="checkbox" value="1" name="is_new" {{if eq .goods.IsNew
                                                1}}checked{{end}} /> 新品
                                        </li>
                                    </ul>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="detail">

                                    <textarea name="goods_content" id="content" cols="100"
                                        rows="8">{{.goods.GoodsContent}}</textarea>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="mix">

                                    <ul class="form_input">

                                        <li> <span>商品颜色:</span>
                                            {{range $key, $value := .goodsColorList}}
                                            <input type="checkbox" {{if eq $value.Checked true}}checked{{end}}
                                                value="{{$value.Id}}" name="goods_color" id="color_{{$value.Id}}" />
                                            <label for="color_{{$value.Id}}">{{$value.ColorName}}</label>
                                            {{end}}
                                        </li>

                                        <li> <span>关联商品:</span>

                                            <input type="text" name="relation_goods" class="relation_goods"
                                                value="{{.goods.RelationGoods}}" />
                                            <i>填写关联商品的id
                                                多个以逗号隔开 格式： 23,24,39</i>

                                        </li>

                                        <li> <span>关联赠品:</span>

                                            <input type="text" name="goods_gift" class="goods_gift"
                                                value="{{.goods.GoodsGift}}" /> <i>可为空
                                                格式： 23-2,39-5
                                                说明： 例如23-2 中的23表示商品id,2表示商品数量</i>

                                        </li>
                                        <li> <span>关联配件:</span>

                                            <input type="text" name="goods_fitting" class="goods_fitting"
                                                value="{{.goods.GoodsFitting}}" /> <i>可为空
                                                格式： 23-2,39-5 说明： 例如23-2 中的23表示商品id,2表示商品数量</i>

                                        </li>


                                        <li> <span>更多属性:</span>

                                            <input type="text" name="goods_attr" class="goods_attr"
                                                value="{{.goods.GoodsAttr}}" /> <i> 格式:
                                                颜色:红色,白色,黄色 |
                                                尺寸:41,42,43</i>

                                        </li>

                                        <li> <span>SEO关键词:</span>

                                            <input type="text" name="goods_keywords" value="{{.goods.GoodsKeywords}}" />

                                        </li>
                                        <li> <span>SEO描述:</span>

                                            <textarea name="goods_desc" id="goods_desc" cols="30"
                                                rows="10">{{.goods.GoodsDesc}}</textarea>

                                        </li>

                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="attribute">

                                    <ul class="form_input">

                                        <li> <span>商品类型:</span>
                                            <select name="goods_type_id" id="goods_type_id">
                                                <option value="0">--请选择商品类型--</option>
                                                {{$goodsTypeId := .goods.GoodsTypeId}}
                                                {{range $key, $value := .goodsTypeList}}
                                                <option {{if eq $value.Id $goodsTypeId}}selected{{end}}
                                                    value="{{$value.Id}}">{{$value.Title}}</option>
                                                {{end}}
                                            </select>

                                        </li>

                                    </ul>

                                    <ul class="form_input" id="goods_type_attribute">
                                        {{.goodsAttrStr | Str2Html}}

                                    </ul>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="photo">
                                    <div id="photoList">
                                        <ul id="goods_image_list" class="goods_image_list clear">
                                            {{$goodsColor:=.goodsColorList}}
                                            {{range $key,$value := .goodsImageList}}
                                            <li>
                                                <img src="{{$value.ImgUrl}}" class="pic" />
                                                <div class="color_list">
                                                    <select class="relation_goods_color" goods_image_id="{{$value.Id}}">
                                                        <option value="0">关联颜色</option>
                                                        {{range $k,$v := $goodsColor}}
                                                        {{if eq $v.Checked true}}
                                                        <option value="{{$v.Id}}" {{if eq $value.ColorId
                                                            $v.Id}}selected{{end}}>{{$v.ColorName}}</option>
                                                        {{end}}
                                                        {{end}}
                                                    </select>
                                                </div>
                                                <div class="goods_image_delete" goods_image_id="{{$value.Id}}"></div>
                                            </li>
                                            {{end}}
                                        </ul>
                                    </div>
                                    <div id="photoUploader"></div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">提交</button>

                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</body>
<!-- Initialize the editor. -->
<script type="text/javascript">
    new FroalaEditor('#content', {
        height: 300,
        imageUploadURL: '/admin/goods/imageUpload',
    });
</script>

<script type="text/javascript" src="/static/js/admin/role.js"></script>

</html>
{{end}}